

Body {
    font-family: commuters-sans, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 10pt;
    margin-left: 53px; 
    margin-right: 53px;
    margin-top: 66px; 
}

h1 {
    font-weight: 900;
    font-size: 20pt;
    color: #24408e
}

h2 {
    font-weight: normal;
    font-style: regular;
    font-size: 12pt;
    margin-top: -5px;
    color: #24408e
}

h3 {
    font-weight: regular;
    font-style: regular;
    font-size: 12pt;
}


img {
    max-width: 100%;
    margin-top: 23px;
    margin-bottom: 23px;
    border: 0.5px solid rgb(167, 164, 164);
} 

.menu-button {
    border: 1px solid transparent;
    padding: 0rem;
    color: #F064C0;
    background-color: white;
}

.menu-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav li {
    list-style: none;
}

nav {
    display: none;
    background-color: rgba(255,255,255,.4);
    width: 100%;
}

ul {
    float: left;
}


.home {
    text-decoration: none;
    color: #24408e;
} 


a {
    color: #F064C0;
    text-decoration: none;
}

a:active{
    color: #F064C0;
}

li a:hover {
    font-size: 12pt;
}


.process {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.finalSites{
    display:grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

@media screen and (max-width: 800px) {

    .process{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    h1 {
        font-weight: 900;
        font-size: 16pt;
        color: #24408e
    }


}